.input-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.input{
    border-style: solid;
    border-color: rgb(106, 140, 255);
    border-radius: 30px;
    width: 300px;     /* aumenta a largura */
    height: 35px;     /* aumenta a altura */
    padding: 0 10px;  /* deixa o texto mais afastado das bordas */
    font-size: 16px; 
}
.botoes{
    background-color: rgb(106, 140, 255);
    border-style: none;
    border-radius: 30px;
    padding: 10px 10px;
}